

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}



.container-fluid{
    width: 100%;
    min-height: 100vh;
    border: #000000 1px solid;
    margin: rem;
    

}


.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h1 {
    /* color: #605C3C; */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: black;
    font-weight: 700;
    /* text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5); */

}


.col {
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background: #e5e7ea;
    border-radius: 30px;
    padding-left: 20px;

}

input{
    flex: 1;
    border: none    ;
    outline: none;
    background: transparent;
    padding: 10px;
}

.addBtn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #fff;
    border: #000000 1px solid;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    border-radius: 40px;
}



ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url(https://i.postimg.cc/rmkqPcRK/radio-button.png) ;
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}


ul li.checked::before{
    background-image: url(https://i.postimg.cc/ZR2mkdRY/check.png);
}


ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}



ul li span:hover{ 
    background: #e5e7ea;
}

.letter {
    transform-origin: center;
    transform: translateX(15px);
  }
  
  #letter1{animation: spin 3s infinite 100ms linear, appear 2s;}
  #letter2{animation: spin 3s infinite 225ms linear, appear 2s;}
  #letter3{animation: spin 3s infinite 350ms linear, appear 2s;}
  #letter4{animation: spin 3s infinite 475ms linear, appear 2s;}
  #letter5{animation: spin 3s infinite 475ms linear, appear 2s;}
  #letter6{animation: spin 3s infinite 475ms linear, appear 2s;}
  #letter7{animation: spin 3s infinite 475ms linear, appear 2s;}
  #letter8{animation: spin 3s infinite 475ms linear, appear 2s;}
  #letter9{animation: spin 3s infinite 475ms linear, appear 2s;}
  #letter10{animation: spin 3s infinite 475ms linear, appear 2s;}
  
  @keyframes appear{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  
  @keyframes spin{
    from {
      transform: rotate(0deg) translateX(8px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(7px) rotate(-360deg); 
    }
  }




/* ========================================================== */

